html, body {
    height: 100%;
}

body {
    margin: 0.5em;
    padding: 0.5em;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    text-align: center;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
}

#errorMessage {
    font-weight: bold;
    font-size: 1.5em;
    color: #900;
    border: solid 1px #900;
}

#transactionList {
    width: 100%;
    text-align: left;
}
input.error {
    border: 2px solid red;
}

#transactionConfirmation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #eeffee;
    font-size: 1em;
    padding: 2em;
}
#transactionConfirmation table {
    margin: auto;
}
#transactionConfirmation td{
    text-align: left;
}
#transactionConfirmation span {
    font-weight: bold;
}
#transactionConfirmation a {
    font-size: 2em;
    font-weight: bold;
}
